
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(/images/isright.jpg);
  background-size: cover;
}

header {
  background-color: #0000006c;
  color: #fff;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
  color: white;
}

nav {
  background-color: #0000006c;
  padding: 10px;
  color: white;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  margin-right: 10px;
}

main {
  padding: 20px;
  color: white;
}

h2 {
  margin-top: 30px;
}

ul {
  list-style-type: none;
  padding: 0;
  color: white;
}

li {
  margin-bottom: 10px;
  color: white;
}

address {
  font-style: normal;
  margin-top: 10px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer p {
  margin: 0;
}

.book-container {
  display: grid;
  grid-template-columns: repeat(column, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
  color: white;
}

.book {
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.book img {
  width: 150px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}

.book h3 {
  margin: 0;
}

.price {
  font-weight: bold;
}

.hidden-info {
  display: none;
  margin-top: 10px;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
}